* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: darkkhaki;
}

.section-container {
  max-width: 1300px;
  width: 90%;
}

/**HEADER**/

.header-pcs {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 99999;
}

.logo-cont {
  height: 100%;
  display: flex;
  align-items: center;
}

.log-cont img {
  height: 100px;
  padding: 4px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.list-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.nav-bar i {
  font-size: 40px;
  color: white;
  cursor: pointer;
  display: flex;
}

#toggle-menu {
  display: none;
}

.button-reg,
.button-ini {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

.button-ini {
  background-color: aqua;
}

@media (max-widht: 900px);
 {
  .nav-bar i {
    display: flex;
  }

  .list-cont {
    position: absolute;
    background-color: darkkhaki;
    flex-direction: column;
    top: 150px;
    right: 0;
    width: 100%;
    height: calc(100vh - 150px);
    z-index: 9999;
    display: none;
  }

  #toggle-menu:checked + .list-cont {
    display: flex;
  }
}
